/* Aqui teremos todo nosso Css, ou seja, nosso estilo */

/* Color Theme Swatches First */
.Blanket-1-hex { color: #3E3C3C; }
.Blanket-2-hex { color: #262528; }
.Blanket-3-hex { color: #D9DADA; }
.Blanket-4-hex { color: #B89368; }
.Blanket-5-hex { color: #D9DADA; }

/* Color Theme Swatches Secund */
.UI/UX-1-hex { color: #3E3E40; }
.UI/UX-2-hex { color: #BDBDBF; }
.UI/UX-3-hex { color: #F0F0F2; }
.UI/UX-4-hex { color: #64758C; }
.UI/UX-5-hex { color: #0D0D0D; }

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}
header{
    background-color: #D9DADA;
    padding: 0px;
    text-align: center;
}
header img{
    max-width: 50px;
    padding: 5px;
    margin: 10px;
}
.logos{
    display: inline-block;
}
#html img:hover{
    background-color: #E44D26;
    border-radius: 20%;
}
#css img:hover{
    background-color: #1C76B8;
    border-radius: 20%;
}
nav{
    background-color: #64758C;
    text-align: center;
}
nav a{
    color: #0D0D0D;
    text-decoration: none;
    display: none;
}
nav a:hover{
    border: 1px solid black;
    border-radius: 20px;
}
#menu img{
    max-width: 50px;
}
#menu img:hover{
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    transition: 2s;
    transform: translate(2s);
}
main{
    min-width: 400px;
    margin: 30px;
}
main h1{
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
main p{
    padding: 15px;
    font-size: 14px;
    text-indent: 15px;
}
main a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
main a:hover{
    text-decoration: underline;
}

