/* Aqui teremos todo nosso Css, ou seja, nosso estilo */

/* Color Theme Swatches First */
.Blanket-1-hex { color: #3E3C3C; }
.Blanket-2-hex { color: #262528; }
.Blanket-3-hex { color: #D9DADA; }
.Blanket-4-hex { color: #B89368; }
.Blanket-5-hex { color: #D9DADA; }

/* Color Theme Swatches Secund */
.UI/UX-1-hex { color: #3E3E40; }
.UI/UX-2-hex { color: #BDBDBF; }
.UI/UX-3-hex { color: #F0F0F2; }
.UI/UX-4-hex { color: #64758C; }
.UI/UX-5-hex { color: #0D0D0D; }

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    color: #21242C;
}
h2{
    font-size: 24px;
}
p{
    font-size: 15px;
}
a{
    text-decoration: none;
}
header{
    background-color: #D9DADA;
    text-align: center;
    padding: 7px;
}
header img{
    max-width: 50px;
    padding: 5px;
    margin: 5px;
}
.logos{
    display: inline-block;
}
#html img:hover{
    background-color: #E44D26;
    border-radius: 20%;    
    transition: 1s;
}
#css img:hover{
    background-color: #1C76B8;
    border-radius: 20%;
    transition: 1s;
}
#javascript img{
    max-width: 37px;
    padding: 4px 11px;
}
#javascript img:hover{
    background-color: #F0BE25;
    border-radius: 20%;
    transition: 1s;
}

nav{
    background-color: #64758C;
    text-align: center;
}
nav a{
    color: #0D0D0D;
    display: none;      /*Lembrar dos links*/
}
#menu img{
    max-width: 50px;
}
#menu img:hover{
    background-color: rgba(0, 0, 0, 0.100);
    border-radius: 20%;
    margin: 5px;
    transition: 1s;
}
main{
    margin: auto;
    padding: 20px 15px;
    min-width: 400px;
    text-align: center;
}
#texto_01{
    padding-top: 25px;
}
#texto_01 h1{
    font-size: 30px;
    text-align:center;
    min-width: 425px;
}
#texto_01 p{
    font-size: 14px;
    padding: 15px;
}
#texto_01 a:hover{
    text-decoration: underline;
}
#imagem01{
    text-align: center;
    padding-top: 15px;
}
#imagem01 img{
    max-width: 400px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.274);
}
#texto_02{
    margin-top: 60px;
}
#texto_02 h2{
    margin-bottom: 30px;
    font-size: 25px;
}
.caixas{
    background-color: #DADADA;
    display: inline-block;
    max-width: 170px;
    text-align: center;
    padding: 50px 4px;
    margin: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);
}
.caixas h2{
    font-size: 30px;  /* verificar esses aqui*/
}
.caixas p{
    font-size: 15px;
}
.caixas_textos p{
    font-size: 12px;
    margin-top: 10px;
    text-indent: 15px;
}
#texto_03{
    padding-top: 60px;
}
#texto_03 h2{
    font-size: 25px;
    margin-bottom: 25px;
}
#texto_03 p{
    padding: 10px;
}
#texto_04{
    padding: 60px 0px;
}
#texto_04 p{
    padding: 10px;
}
footer{
    background-color: #222222;
}
#redes_sociais{
    text-align: center;
    padding: 30px;
}
#redes_sociais span{
    color: #F0F0F2;
    font-weight: 300;
}
#linkedin img{
    position: relative;
    top: 11px;
    height: 54px;
}
#github img{
    border-radius: 15%;
}
