*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
    background-color: #FFFFFF;
}
header{
    background-color: rgb(255, 255, 255);
    position:sticky;
}
header img{
    max-width: 159px;
    margin: 0px 15px 20px 95px;
}
#caixas_iniciais{
    padding: 20px 0px 0px 335px;
}
header a{
    padding: 14px;
    color: #3D3D3D;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 25px;
}
header a:hover{
    color: #e6c832f3;
}
#caixa_preta{
    background-color: #0A0A0A;
    padding: 9px;
    margin: 10px 10px;
    color: #f1f1f1;
    font-size: 13px;
}
#caixa_preta span{
    margin-left: 10px;
}
.nome{
    font-weight: bold;
}
.valor{
    font-weight: 500;
}
.porcentagem_good{
    color: #5CB021;
    font-weight: 500;
}
.porcentagem_bad{
    color: #790F0F;
    font-weight: 500;
}
#imagem_inicial img{
    width: 530px;
    padding: 40px 0px 0px 560px;
}
#texto_inicial{
    width: 400px;
    position: absolute;
    right: 730px;
    padding: 140px 0px;
    color: #F7B731;
    font-weight: 400;
}
#texto_inicial h1{
    font-size: 33px;
    width: 380px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    right: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.171);
}
#texto_inicial h3{
    font-size: 22px;
    color: #3d3d3d;
    width: 280px;
    margin-left: 50px;
    font-weight: 600;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.171);
}
#texto_inicial a{
    font-size: 18px;
    color: #3d3d3d;
    text-align: center;
    width: 120px;
    background-color: #F7B731;
    border-radius: 30px;
    position: absolute;
    bottom: 50px;
    left: 90px;
    text-decoration: none;
    padding: 12px 20px;
    font-variant: small-caps;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.267);
}
#texto_inicial a:hover{
    text-decoration: underline;
}
#imagem_segunda{
    background-image: url(midia/homem_imagem_edit.jpg);
    width: 680px;
    height: 420px;
    margin-top: 60px;
    margin-left: 40px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.459);
}
#texto_segundo{
    position: relative;
    left: 735px;
    top: 60px;
    width: 500px;
    height: 350px;
}
#texto_segundo h1{
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 500px;
    position: relative;
    right: 25px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.171);
}
#texto_segundo p{
    font-size: 15px;
    text-indent: 15px;
    width: 480px;
    line-height: 1.5em;
    margin-top: 10px;
}
#texto_segundo a{
    text-decoration: none;
    border: 2px solid #3D3D3D;
    border-radius: 25px;
    padding: 10px 23px;
    color: #3D3D3D;
    position: relative;
    top: 35px;
    left: 185px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.267);
}
#texto_segundo a:hover{
    text-decoration: underline;
}
#imagem_terceira{
    background: url(midia/computer_png.png) no-repeat;
    background-size: 750px;
    margin-top: 70px;
    height: 500px; 
    transform: scaleX(-1);
    margin-right: 20px;
}
#texto_terceiro{
    height: 300px;
    width: 500px;
    position: relative;
    left: 775px;
    top: 120px;
    transform: scaleX(-1);
}
#texto_terceiro h1{
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.171);
}
#texto_terceiro p{
    font-size: 15px;
    text-indent: 15px;
    width: 480px;
    line-height: 1.5em;
    text-align: center;
}
#texto_terceiro a{
    text-decoration: none;
    border: 2px solid #3D3D3D;
    border-radius: 25px;
    padding: 10px 23px;
    color: #3D3D3D;
    position: relative;
    top: 35px;
    left: 185px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.267);
}
#texto_terceiro a:hover{
    text-decoration: underline;
}
footer{
    background-color: #3d3d3d6c;
}
#caixa_1{
    background-color: #3d3d3d54;
    width: 200px;
    font-size: 13px;
    padding: 50px;
    text-align:left;
}
#caixa_1 h1{
    margin-bottom:10px;
}
#caixa_2{
    background-color: #3d3d3d54;
    font-size: 16px;
    text-decoration: underline;
    display: block;
}
