@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

p{
    padding: 15px 10px;
}
body{
    background-color: #FFFFFF;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.850);
    
}
header{
    background-color: rgba(0, 0, 0, 0.950);
    padding: 10px;
}
header img{
    margin: 8px 0px 15px 159px;
}
main{
    background-color: #c0c0c02a;
    margin: 0px 270px 0px 270px;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 2px black;
}
main h1{
    padding-top: 15px;
    margin: 0px;
}
section img{
    width: 160px;
    background-color: #5f5f5f;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
}
article{
    margin-right: 100px;
}
section{
    margin: 0px 120px;
}
#referencia{
    color: #575757;
    font-size: 11px;
}
footer{
    background-color: rgba(0, 0, 0, 0.950);
    padding: 3px;
    color: white;
    text-align: center;
    font-size: 13px;
}
footer a{
    text-decoration: none;
    color: white;
}